.btnPrincipal {
    -fx-background-color: #27aab4;
    -fx-padding: 15px 20px;
    -fx-border-radius: 45px;
    -fx-cursor: hand;

    -jfx-button-type: RAISED;
    -mfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment:CENTER_LEFT;
}

.btnPrincipal.btnPrincipal:armed,.btnPrincipal:focused{
    -fx-background-color: #27aab4;
}
.etiqueta {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.btnWorkers{
    -fx-background-color: #27aab4;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-padding: 15px 20px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-button-type: RAISED;

    -jfx-button-type: RAISED;
    -mfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-font-weight: bold;
    -fx-alignment:CENTER_LEFT;
}

.btnWorkers.btnWorkers:armed,.btnWorkers:focused{
    -fx-background-color: #27aab4;
}

.button:hover{
    -fx-background-color: #FF6D00;
}

.lblFolio{
    -fx-background-color: #ffffff;
    -fx-border-radius: 80px;
}

.btnMaintenance,.btnMaintenance:armed,.btnMaintenance:focused{
    -fx-background-color: #54ec2c;
    -fx-text-fill: #ffffff;
    -mfx-button-type: RAISED;
    -fx-content-display: left;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 12px 15px;
}


