.btnPrincipal {
    -fx-background-color: #27aab4;
    -fx-padding: 15px 20px;
    -fx-border-radius: 45px;
    -fx-cursor: hand;

    -jfx-button-type: RAISED;
    -mfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment:CENTER_LEFT;
}

.btnPrincipal.btnPrincipal:armed,.btnPrincipal:focused{
    -fx-background-color: #27aab4;
}
.etiqueta {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.btnWorkers{
    -fx-background-color: #27aab4;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-padding: 15px 20px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
    -fx-button-type: RAISED;

    -jfx-button-type: RAISED;
    -mfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-font-weight: bold;
    -fx-alignment:CENTER_LEFT;
}

.btnWorkers.btnWorkers:armed,.btnWorkers:focused{
    -fx-background-color: #27aab4;
}

.button:hover{
    -fx-background-color: #986ecc;
}

.txtAsoMain{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
}

.btnNewPhoto,.btnNewPhoto:armed,.btnNewPhoto:focused{
    -fx-background-color: #54ec2c;
    -fx-text-fill: #ffffff;
    -mfx-button-type: RAISED;
    -fx-content-display: left;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 12px 15px;
}

.btnNewPhoto>ImageView{
    -fx-image: url("../resources/NewFoto.png");
}
.btnEdit{
    -fx-background-color: #54ec2c;
    -fx-text-fill: #ffffff;
    -mfx-button-type: RAISED;
    -fx-content-display: left;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 12px 15px;
}

.btnEdit,.btnEdit:armed,.btnEdit:focused{
    -fx-background-color: #54ec2c;
}

.btnEdit>ImageView{
    -fx-image: url("../resources/Editar.png");
}

.btnAccept{
    -fx-background-color: #54ec2c;
    -fx-text-fill: #ffffff;
    -mfx-button-type: RAISED;
    -fx-content-display: left;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 12px 15px;
}

.btnAccept,.btnAccept:armed,.btnAccept:focused{
    -fx-background-color: #54ec2c;
}

.btnAccept>ImageView{
    -fx-image: url("../resources/aceptar.png");
}

.fx-stackPane{
    -fx-background-color: #767676;
    -fx-background-radius: 40px;
}

.fx-hBoxMaintenance{
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
    -fx-padding: 5 5 5 5;
}

.spBills{
    -fx-background-color: #ababab;
    -fx-background-radius: 10px;
}

.fx-vBoxBills{
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
    -fx-padding: 5 5 5 5;
}

.btnAdmin>ImageView{
    -fx-image: url("../resources/Admin.png");
}

.btnEmployee>ImageView{
    -fx-image: url("../resources/Funcionario.png");
}

.btnUser>ImageView{
    -fx-image: url("../resources/User.png");
}

.btnDeposits{
    -fx-background-color: #008e8e;
    -fx-background-radius: 20px;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}

.btnDeposits,.btnDeposits:armed,.btnDeposits:focused{
    -fx-background-color: #008e8e;
}

