
.btnPrincipal {
    -fx-background-color: #27aab4;
    -fx-padding: 15px 20px;
    -fx-border-radius: 45px;
    -fx-cursor: hand;
    -jfx-button-type: RAISED;
    -mfx-button-type: RAISED;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-alignment:CENTER_LEFT;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 10, 0, 0, 10);
}

.btnPrincipal.btnPrincipal:armed,.btnPrincipal:focused{
    -fx-background-color: #27aab4;
}
.etiqueta {
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgb(0, 255, 248), 8, 0, 0, 8);
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-background-color: #5afff1;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-border-color: #8080ff;
    -fx-border-style: ridge;
    -fx-font-family: "Chalkduster";
}

.listTableView{
    -fx-cursor: crosshair;
}

.button{
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,1), 10, 0, 0, 10);

}

.txtAsoMain{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-padding: 5px;
}

.btnSecondary{
    -fx-background-color: #3fd59b;
    -fx-text-fill: #ffffff;
    -mfx-button-type: RAISED;
    -fx-content-display: left;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 12px 15px;
    -fx-cursor: hand;
    -jfx-button-type: RAISED;
    -fx-alignment:CENTER_LEFT;
}

.btnAssMaintenance,.btnAssMaintenance:armed,.btnAssMaintenance:focused{
    -fx-background-color: #54ec2c;
}

.btnNewPhoto>ImageView{
    -fx-image: url("../resources/NewFoto.png");
}

.btnEdit>ImageView{
    -fx-image: url("../resources/Editar.png");
}

.btnAccept>ImageView{
    -fx-image: url("../resources/aceptar.png");
}

.btnCamView{
    -fx-background-color: #005a4e;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER LEFT;
    -fx-cursor: hand;
    -fx-padding: 15px 20px;
    -jfx-button-type: RAISED;
    -mfx-button-type: RAISED;
    -fx-content-display: left;
    -fx-font-size: 14px;
}

.btnCamView,.btnCamView:armed,.btnCamView:focused{
    -fx-background-color: #005a4e;
}

.fx-hBoxMaintenance{
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
    -fx-padding: 5 5 5 5;
}

.spBills{
    -fx-background-color: #ababab;
    -fx-background-radius: 10px;
}

.fx-vBoxBills{
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0, 1.5);
    -fx-padding: 5 5 5 5;
}

.btnAdmin>ImageView{
    -fx-image: url("../resources/Admin.png");
}

.btnEmployee>ImageView{
    -fx-image: url("../resources/Funcionario.png");
}

.btnUser>ImageView{
    -fx-image: url("../resources/User.png");
}

.btnMaintenance>ImageView{
    -fx-image: url("../resources/mantenimiento.png")
}

.btnPrint>ImageView{
    -fx-image: url("../resources/imprimir.png")
}

.btnOpenAccounts>ImageView{
     -fx-image: url("../resources/apertura.png")
}

.btnDeposits>ImageView{
      -fx-image: url("../resources/retiros.png")
}

.coinFive>ImageView{
    -fx-image: url("../resources/CincoColones.png");
}

.coinTen>ImageView{
    -fx-image: url("../resources/DiezColones.png");
}

.coinTFive>ImageView{
    -fx-image: url("../resources/VeinticincoColones.jpg");
}

.coinFifty>ImageView{
    -fx-image: url("../resources/CincuentaColones.png");
}

.coinOneH>ImageView{
    -fx-image: url("../resources/CienColones.png");
}

.coinFiveH>ImageView{
    -fx-image: url("../resources/QuinientosColones.png");
}

.billOne>ImageView{
    -fx-image: url("../resources/UnRojo.jpg");
}

.billTwo>ImageView{
    -fx-image: url("../resources/DosRojos.jpg");
}

.billFive>ImageView{
    -fx-image: url("../resources/CincoRojos.jpg");
}

.billTen>ImageView{
    -fx-image: url("../resources/DiezRojos.jpg");
}

.billTwenty>ImageView{
    -fx-image: url("../resources/VeinteRojos.jpg");
}

.btnDeleteUser>ImageView{
    -fx-image: url("../resources/delete.png");
}

.btnSearch>ImageView{
    -fx-image: url("../resources/search.png");
}

.btnManteCoop>ImageView{
    -fx-image: url("../resources/manteCop.png");
}

.btnManteAcc>ImageView{
    -fx-image: url("../resources/manteCuen.png");
}

.btnTakePhoto>ImageView{
    -fx-image: url("../resources/foto.png");
}

.btnTakeAgain>ImageView{
    -fx-image: url("../resources/tomardenuevo.png");
}

.btnSave>ImageView{
    -fx-image: url("../resources/Guardar.png");
}

.btnOff>ImageView{
    -fx-image: url("../resources/apagar.png");
}

.btnChangeIcon>ImageView{
    -fx-image: url("../resources/ChangeIcon.png");
}

.btnRequest>ImageView{
    -fx-image: url("../resources/Solicitud.png");
}

.btnRegister>ImageView{
    -fx-image: url("../resources/registrar.png");
}

.viewWorkers{
    -fx-background-image: url("../resources/todosfondo.jpeg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-opacity: 1;
}

.viewAdmin{
    -fx-background-image: url("../resources/FondoAdmin.jpeg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-opacity: 1;
}

.viewAssociate{
    -fx-background-image: url("../resources/FondoAsociate.jpeg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-opacity: 1;
}

.viewCamView{
    -fx-background-image: url("../resources/CamView.jpeg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-opacity: 1;
}

.viewPrincipal{
    -fx-background-image: url("../resources/fondo.jpeg");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-opacity: 1;
}

.button:hover{
    -fx-background-color: #986ecc;
    -fx-background-insets: 5,6,7;

}