.btnPrincipal {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 17px;
    -fx-padding: 15px 20px;
    -fx-border-radius: 45px;
    -fx-cursor: hand
}

.etiqueta {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}